<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpotifyClientID</key>
	<string>012cd446b8764125b30398495b54511f</string>
	<key>SpotifyClientSecret</key>
	<string>902a0891d63146d988e6b11b7e332bcb</string>
	<key>SpotifyRedirectURI</key>
	<string>https://github.com/majackie/HarmonyHub</string>
</dict>
</plist>
